html{
    font-size:16px;
    font-family:sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.bookList{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(3,1fr);
    gap:1rem;
}

.book{
    display:flex;
    list-style:none;
    flex-direction:column;
    grid-column:span 1;
    grid-row:span 1;
    padding:2rem;
    box-shadow:6px 6px 6px rgba(0,0,0,0.7);
}
.book span:first-child{
    font-size:1.2rem;
    font-weight:bold;
}
.book span:not(.book span:first-child){
    display:inline-block;
    padding:0.2rem;
    font-size:1rem;
    color:grey;
}
.books>button{
    padding:0.75rem;
    font-size:1rem;
    margin:auto;
    display:block;
    margin:1rem auto;
    cursor:pointer;
}
#myDialog{
    position:fixed;
    top:0;
    left:0;
    right:0;
}
form{
    font-size:1rem;
}
form label{
    margin-right:3rem;
    font-weight:bold;
}
form label input{
    font-size:1rem;
    padding:0.3rem;
}
form button{
    padding:0.25rem 0.6rem;
    font-size:8px;
}